.rowinsta .col-sm-42 iframe {
    max-width: 500px;
    min-height: 280px;
}

.rowinsta {
    display: table;
    height: 100%;
    margin: 0;
    width: 100%;
}

.col-sm-42 {
    display: table-cell;
    float: none;
    height: 100%;
    margin: 0;
}

