.container2 {
    width: 100vw;
    min-height: 80%;
    height: 150vh;
    min-width: 40vw;
    max-height:140vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
[style*="--aspect-ratio"] > :first-child {
    width: 100%;
     justify-content: center;
}

[style*="--aspect-ratio"] > img {
    height: auto;
    justify-content: center;
   
}

@supports (--custom:property) {
    [style*="--aspect-ratio"] {
        position: relative;
        height: 120vh;
    }

        [style*="--aspect-ratio"]::before {
            content: "";
            height: 110vh;
            display: block;
            padding-bottom: calc(180% / (var(--aspect-ratio)));
        }

        [style*="--aspect-ratio"] > :first-child {
            position: absolute;
            top: 0;
            height: 170vh;
            left: 0;
            height: 180%;
        }
}
