.container2 {
    width: 100vw;
    height: 140vh;
    min-height:90vh;
    min-width:40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
