/* Fonts */

@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700';
@import 'https://fonts.googleapis.com/css?family=Work+Sans:100,300,400,500,600,700,800';

@font-face {
  font-family: 'Florence';
  src: url('../fonts/Florence-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Neou';
  src: url('../fonts/Neou-Bold.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'Bebas';
  src: url('../fonts/Bebas-Neue-Regular.ttf') format('truetype');
  font-weight: 400;
}

/* Reset */

* {
  margin: 0;
	padding: 0;
	border: 0;
  font-size: 0;
  background-color: transparent;
}

/* Default */

html {
  background-color: red;
}
html, body, main {
  position: relative;
  width: auto;
  height: 100%;
}
body {
  margin: 0;
  background-color: #3D0626;
}
header {
  width: 90%;
  height: 54px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #3D0626;
  z-index: 999;
  padding: 0 5%;
}

header #logo {
  float: left;
  background: transparent url(../images/na-cuia-icon.svg) no-repeat center;
  background-size: 54px;
  height: 54px;
  width: 64px;
  margin: 0;
}

header nav {
  position: relative;
  float: right;
  width: auto;
  background-color: transparent;
  padding: 0 15px;
}
header ul {

  background-color: red;
}
header ul li {
  position: relative;
  width: auto;
  float: left;
  display: inline-block;
}
header li a {
  font-family: 'Work Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: block;
  width: auto;
  height: auto;
  line-height: 53px;
  padding: 1px 20px 0 20px;
  color: #FCEBB6;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
}
header li a:hover, header li a:focus {
  color: #3D0626;
  background-color: #FCEBB6;
}

input#control-nav {
  display: none;
}

main {
}

section {
	position: relative;
	float: left;
	padding: 64px 4%;
	height: auto;
	width: 92%;
	background-color: #FCEBB6;
	text-align: center;
}
h3 {
  font: 56px 'Bebas', Arial, sans-serif;
  padding: 20px 10% 10px;
  text-align: center;
  color: #666;
  letter-spacing: 1px;
}
section h4 {
  font: 16px 'Roboto';
  max-width: 650px;
  color: #666;
  text-transform: none;
  text-align: center;
  line-height: 26px;
  margin: 0 auto 20px;
  padding: 10px;
  background-color: transparent;
}
p {
  font: 500 16px 'Work Sans', Arial, sans-serif;
  margin: 0 auto;
  line-height: 1.4em;
  padding-bottom: 20px;
  max-width: 600px;
}
footer {
  position: relative;
  float: left;
  padding: 4% 4% 2%;
  margin: 0;
  width: 92%;
  height: auto;
  text-align: center;
  color: #999;
}
footer .logo {
  display: inline-block;
  background: transparent url(../images/na-cuia-logo-white.svg) no-repeat center;
  background-size: 240px;
  height: 50px;
  width: 240px;
  margin: 24px 12px 48px;
}
footer ul { 
  list-style: none;
  margin: 32px 8px;
}
footer a, footer li, footer p {
  color: #FCEBB6;
  font: 300 14px 'Work Sans', sans-serif;
  display: inline-block; 
}
footer a {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 5px 10px;
}
footer a:hover, footer a:focus {
  color: #fff;
}


article {
}

/* Links */

a {
  text-decoration: none;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

/* Titles */

h2 figure {
  float: left;
  background: #3D0626 url(../images/logo.png) no-repeat center;
  background-size: auto 90px;
  height: 100px;
  width: 437px;
  margin: 20px 0 0;
}

h2 span {
  color: #FCEBB6;
}


h4 {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 300;
  padding: 10px 10%;
  text-align: left;
}
h5 {
  font: 200 16px 'Roboto';
  margin: 5px auto;
  padding: 10px 10%;
  max-width: 450px;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #eee;
}
h6 {
  font: 14px 'Roboto', sans-serif;
  font-weight: 300;
  color: #888;
}
h6 a {
  padding: 6px;
}

/* Images */

img {
  max-width: 80%;
/*  width: auto;
  height: auto;*/
}

/* Screen */

.full-screen {
  padding: 0;
  display: table;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.auto-screen {
  padding: 0;
  display: table;
  height: auto;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
}
.screen-container {
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  font-size: 0;
}

.layer {
/*  background: linear-gradient(to right,rgba(48, 48, 48, 0.5) 0%,rgba(96, 96, 96, 0.5) 100%);*/
  background-color: rgba(61, 6, 38, 0.9);
}
.img-cultural { background-image: url("http://www.diarioonline.com.br/img/noticias/original/destaque-290794-rogerio-uchoa.jpg"); }

/* Page Styles */

.page-toolbar {
  position: relative;
  display: inline-block;
  height: auto;
  max-width: 660px;
  width: 96%;
  padding: 0;
  margin: 4% 0 2%;
  background-color: transparent;
  text-align: center;
}
.page-title {
  padding: 20px 14% 10px;
  font-size: 50px;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-family: 'Roboto';
  font-weight: 200;
}
.page-description {
  max-width: 500px;
  color: #999;
  font: 300 16px 'Roboto';
  text-align: center;
  line-height: 24px;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 10px 20px 0;
}

/* Assistants */

.add-space-top {
  margin-top: 40px !important;
}
.active {
  color: #fff;
  background-color: #3D0626;
  font-family: 'Roboto';
}

/* Containers */



.featured {
  position: relative;
  float: none;
  display: inline-block;
  margin: 0 16px;
  width: 916px;
  height: 636px;
  box-sizing: border-box;
  padding: 0;
  border: 1px solid #3D0626;
  background-color: rgba(255, 255, 255, 0.1);
}
.featured:hover, .featured:focus {
  background-color: rgb(39, 4, 24);
  border-color: #FCEBB6;
}
.featured div {
    position: absolute;
    float: left;
    width: 448px;
    height: 634px;
    /* background-color: rgba(252, 235, 182, 0.3); */
    z-index: 3;
}
.featured h3 {rgb(39, 4, 24)
  position: relative;
  float: left;
  padding: 24px 12px;
  margin: 0;
  width: 420px;
  font: 48px 'Work Sans';
  color: #FCEBB6;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.6px;
  background-color: transparent;
}
.featured span {
    position: relative;
    float: left;
    padding: 12px;
    margin: 0;
    width: 340px;
    color: #FCEBB6;
    font: 18px 'Work Sans', Arial, sans-serif;
    text-align: left;
    background-color: transparent;
}
.featured figure {
    position: relative;
    float: left;
    width: 448px;
    height: 634px;
    margin: 0 16px 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-color: #fff;
    z-index: 2;
}
.featured .margin-top {
  margin-top: 20px;
}

/* Featured Magazine */

.mag {
  display: inline-block;
  margin: 80px 0;
}
.mag div {
  float: left;
  max-width: 500px;
  height: 500px;
}

.magazine {
  display: table;
  width: 400px;
  height: 600px;
  box-sizing: border-box;
  padding: 32px;
  margin: 0 80px;
  background-color: rgba(255, 255, 255, 0.0);
  border: 1px solid #fff;
  border-radius: 2px;
}
.magazine h1 {
  font: normal 70px 'Florence', Arial, sans-serif;
  color: #fff;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.magazine h1::before, .magazine h1::after {
  content: "";
  border-top: 1px solid #fff;
  margin: 10px 100px;
  display: inline-block;
  width: 64px;
  height: 6px;
}

/* Home */

.home {
  display: inline-block;
  margin: 80px 0;
}
.home div {
  float: left;
  max-width: 500px;
  height: 500px;
}

.home-logo {
  display: block;
  background: transparent url(../images/na-cuia-logo.svg) no-repeat center;
  background-size: 340px;
  height: 500px;
  width: 500px;
  margin: 0 auto;
}

.home-container {
  display: inline-block;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 32px;
}
.home-container h2 {
  font: 500 36px 'Work Sans', Arial, sans-serif;
  color: #3D0626;
  line-height: 1.1em;
  text-align: left;
  padding: 0 0 32px;
  max-width: 640px;
}
.home-container p {
  color: #3D0626;
  text-align: left;
  max-width: 640px;
  font-size: 18px;
  font-weight: 400;
  padding: 0;
}
.home-container .button {
  border: 3px solid #3D0626;
  font-weight: 700;
  color: #3D0626;
  float: left;
}
.home-container .button:hover,
.home-container .button:focus {
  border-color: #3D0626;
  color: #FCEBB6;
  background-color: #3D0626;
}


.home .borda-marajoara-bottom {

  background-size: 200px;
}

/* Card */

.card {
  display: inline-block;
  margin: 0 auto;
  max-width: 500px;
  box-sizing: border-box;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.0);
}

.card-title {
  font: 400 50px 'Roboto';
  color: #555;
  letter-spacing: 4px;
  padding: 0 0 10px;
  text-transform: capitalize;
}
.card-description {
  font: 300 16px 'Roboto';
  color: #aaa;
  text-transform: uppercase;
  letter-spacing: 6px;
  padding: 14px 0 40px;
  max-width: 460px;
}


.container-home {
  margin: 20px auto;
  text-align: left;
  line-height: 26px;
  max-width: 900px;
}
.container-box {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 
}
.container-page {
  position: relative;
  float: left;
  padding: 0 0 1px 0;
  width: 100%;
  max-height: 400px;
  background-color: red;
}
.container-form {
  position: relative;
  display: inline-block;
  float: none;
  max-width: 500px;
  height: auto;
  background-color: #fff;
  padding: 40px 40px 10px 40px;
  margin: 0;
}

/* Backgrounds, Colors, Borders */

.bg-gradient {
  background: linear-gradient(to right,rgba(114, 114, 114, 1) 0%,rgba(58, 58, 58, 1) 100%);
  background-color: #777;
}

.bg-gray { background-color: #e4e4e4; }
.bg-white { background-color: #fff; }
.bg-acai { background-color: #3D0626; }
.bg-ama { background-color: #FCEBB6; }
.bg-salinas { background-color: #5C9C95 }
.bg-tucupi { background-color: #EDC500; }

.clr-white { color: #fff; }
.clr-acai { color: #3D0626; }
.clr-ama { color: #FCEBB6; }

.border-top { border-top: 2px dashed #FCE3A9; }

.bg-img {
  background-image: url(../images/background.png);
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
}
.img-section {
  max-width: 100%;
  height: auto;
  padding: 20px 0;
}



.kuyera-text {
  color: #FCEBB6;
  text-align: right;
}

.borda-marajoara-top {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  display: block;
  background: transparent url(../images/borda-marajoara-palha.svg) repeat-x center;
  background-size: 200px;
  height: 60px;
  width: 100%;
  margin: 0 auto;
}
.borda-marajoara-bottom {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: block;
  background: transparent url(../images/borda-marajoara-palha.svg) repeat-x center;
  background-size: 200px;
  height: 60px;
  width: 100%;
  margin: 0 auto;
}
.borda-marajoara-bottom-acai {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: block;
  background: transparent url(../images/borda-marajoara-acai.svg) repeat-x center;
  background-size: 200px;
  height: 60px;
  width: 100%;
  margin: 0 auto;
}




#kuyera-logo {
  display: block;
  background: transparent url(../images/kuyera.svg) no-repeat center;
  background-size: 240px;
  height: 80px;
  width: 100%;
  margin: 0 auto 44px;
}
#selo {
  float: left;
  height: 300px;
  width: 300px;
  padding: 0;
  border-radius: 0;
  color: #3D0626;
  border-top: 3px dashed #FCEBB6;
  background: transparent url(../images/selo-evento-cultural.svg) no-repeat center;
  background-size: 200px;
}

/* Box - Social */

.icon a {
  position: relative;
  display: inline-block;
  height: 64px;
  width: 64px;
  margin: 10px;
  float: none;
  text-decoration: none;
  text-align: center;
  font: 14px 'Work Sans';
  letter-spacing: 1px;
  color: transparent;
  background-color: #FCEBB6;
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: 50% 50%;
  border-radius: 50%;
}
.icon a:hover, .icon a:focus, .icon a:active {
  background-color: #fff;
  color: #fff;
}
.icon a span {
  position: absolute;
  left: 0;
  bottom: -36px;
  width: 90%;
  height: auto;
  padding: 5px 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: transparent;
}

/* People */

.container-people {
  max-width: 1000px;
  margin: 20px auto;
}

.people {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 160px;
  margin: 12px 12px 84px;
  background-color: #fff;
  z-index: 1;
  border-radius: 50%;
}
.people-bg {
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 3;
  border-radius: 50%;
  color: transparent;
}
.people-bg:hover, .people-bg:focus {
  background-color: rgba(61, 6, 38, 0.7);
  color: #FCEBB6;
}
.people-bg div {
  position: absolute;
  bottom: 30px;
  left: 0;
  height: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 4;
}
.people h4 {
  position: relative;
  float: left;
  margin: 0;
  padding: 12px 10% 6px;
  width: 80%;
  height: auto;
  font: 600 18px 'Work Sans', Arial, sans-serif;
  color: #3D0626;
  text-align: center;
  letter-spacing: 0;
}
.people p {
  position: relative;
  float: left;
  margin: 0;
  padding: 0 20% 10px 20%;
  width: 60%;
  height: auto;
  font: italic 14px 'Work Sans', Arial, sans-serif ;
  text-align: center;
  background-color: transparent;
}
.people figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  /* -webkit-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  filter: grayscale(100%);  */
  border-radius: 50%;
}

/* Box - Post */

a.box-post {
  position: relative;
  display: inline-block;
  max-width: 280px;
  height: 420px;
  margin: 1.4%;
  padding: 0 0 20px;
  background-color: #fff;
  border-bottom: 0;
  box-sizing: border-box;
}
a.box-post:hover, a.box-post:focus {
  background-color: #fff;
  opacity: 0.9; 
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
}
a.box-post h2 {
  float: left;
  text-align: left;
  width: auto;
  padding: 0 20px;
  color: #333;
  font: 500 22px 'Roboto';
  line-height: 1.2;
}
a.box-post p {
  float: left;
  text-align: left;
  width: 80%;
  padding: 10px 20px;
  margin: 0;
  color: #888;
  font: 300 16px 'Roboto';
  line-height: 22px;
  background-color: transparent;
}
a.box-post .bg {
  float: left;
  width: 100%;
  
}
a.box-post figure {
  float: left;
  margin: 0 0 20px 0;
  width: 100%;
  height: 180px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #444;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

a.box-post .cat {
  position: absolute;
  width: auto;
  top: 0px;
  border: 1px solid transparent;
  text-transform: uppercase;
  padding: 5px 8px 4px;
  margin: 10px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  font: 400 12px 'Roboto';
  letter-spacing: 1px;
  color: #fff;
}

a.box-post .cat:hover, a.box-post .cat:focus { 
  background-color: #000;
  border-color: #fff;
}

/* Button for Pages */

.spcl {
    min-height: 90px;
  width: 100px !important;
  padding: 14px 18px 28px;
}

/* Button */

.button {
  position: relative;
  display: inline-block;
  margin: 40px auto 10px;
  padding: 14px 32px 14px;
  width: auto;
  height: auto;
  background-color: transparent;
  color: #FCE2A8;
  font: 400 14px 'Work Sans', Arial, sans-serif;
  border: 1px solid #FCE2A8;
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}
.button:hover, .button:focus {
  background-color: #FCEBB6;
  border-color: #FCEBB6;
  color: #3D0626;
}


/* Button - Telephone */

.btn-tel {
  display: inline-block;
  padding: 16px 30px;
  background-color: #fff;
  color: #777;
  font: 500 18px 'Roboto';
  border: 1px solid #fff;
  letter-spacing: 0.6px;
}
.btn-tel:hover, .btn-tel:focus {
  background-color: transparent;
  border: 1px solid #888;
}

#contato p {
  max-width: 400px;
}



/* Box Tile */

.tile {
  position: relative;
  float: none;
  display: inline-block;
  width: 240px;
  height: 336px;
  margin: 18px 16px;
  background-color: #fff;
  z-index: 1;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  border-radius: 4px;
}
.tile:hover, .tile:focus {
  background-color: rgba(0, 0, 0, 0.7);
}
.tile a {
  position: relative;
  float: none;
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0;
  font-size: 10px;
  text-decoration: none;
  z-index: 3;
  color: transparent;
 /* background-color: rgba(252, 235, 182, 0.3);*/
  border: 1px solid #3D0626;
  border-radius: 2px;
}
.tile a:hover, .tile a:focus { 
  color: #FCE3A9; 
  background-color: rgba(39, 4, 24, 0.9); 
  border-color: #FCEBB6;
}
.tile h5 {
  font: 28px 'Neou';
  margin: 0;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  padding: 6px 12px;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  border: 0;
  z-index: 3;
}
.tile span {
  position: absolute;
  padding: 0;
  top: 20px;
  right: 32px;
  font: 300 16px 'Work Sans';
  text-align: right;
  background-color: transparent;
  z-index: 3;
}
.tile figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
/*  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);*/
  border-radius: 4px;
}

.bg-grad { background-color: rgba(252, 235, 182, 0.36); }
.bg-grad:hover, .bg-grad:focus { color: #FCE3A9; background-color: rgba(61, 6, 38, 0.9); }
    
#gray { background: linear-gradient(135deg, rgba(31, 31, 31, 0.84) 0%,rgba(171, 171, 171, 0.84) 100%); }
#gray:hover, #gray:focus { background-color: rgba(0, 0, 0, 0.7); }

/* Contact Form */

form {
  display: inline-block;
  max-width: 600px;
  width: 100%;
  height: auto;
  background-color: transparent;
  margin: 20px auto;
}
form input {
  width: 48%;
}
form textarea {
  width: 98%;
  height: 140px;
  resize: none;
}
form input, form textarea {
  float: left;
  padding: 10px 2% 11px 2%;
  margin: 1%;
  color: #3D0626;
  font: 400 16px 'Work Sans', Arial, sans-serif;
  background-color: transparent;
  border: 2px solid #3D0626;
  border-radius: 2px;
  box-sizing: border-box;
  transition: all 250ms ease-in-out;
}
form input:focus,  form input:active,
form textarea:focus,  form textarea:active {
  background-color: #fff;
  border-color: #3D0626;
  font: 16px 'Work Sans', Arial, sans-serif;
  color: #3D0626;
  outline: none;
  box-shadow: 0;
  transition: none;
}
input[type="submit"] {
  float: none;
  display: inline-block;
  cursor: pointer;
  width: 110px;
  height: 46px;
  padding: 0;
  margin: 2% auto 0;
  text-align: center;
  background-color: #3D0626;
  border: 2px solid #3D0626;
  line-height: 2px;
  color: #FCEBB6;
  font: 400 14px "Work Sans", sans-serif;
  letter-spacing: 1px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
input[type="submit"]:hover, 
input[type="submit"]:focus {
  font-weight: 600;
  color: #3D0626;
  background-color: #fff;
  border-color: #3D0626;
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -o-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}

::-webkit-input-placeholder { color: #3D0626; font-style: italic; font-weight: 500; }
:-moz-placeholder { color: #3D0626; font-style: italic; font-weight: 500; }
::-moz-placeholder { color: #3D0626; font-style: italic; font-weight: 500; }
:-ms-input-placeholder { color: #3D0626; font-style: italic; font-weight: 500; }


/* Special Pages */

.special-page h5 {
  color: #FCEBB6;
  font: italic 5em 'Neou';
  letter-spacing: 4px;
  border: none;
  max-width: 600px;
  margin: 40px auto 50px;
}
.special-page h4 {
  color: #fff;
  font: 1.8em 'Roboto';
  padding: 0px 20px;
  margin: 6px auto;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}
.special-page h3 {
  margin: 0 auto 30px;
  max-width: 440px;
  color: #fff;
  line-height: 26px;
  text-align: center;
  font: 18px 'Roboto';
}
.special-page {
  margin-top: 50px;
}
.special-page a.btn-more {
  width: 120px;
}


/* Media Queries */

@media screen and (max-width: 1016px) {

  .container-box {  
    padding: 12px 0; 
  }
  .home div {
    float: none;
  }
  .home-container p, .home-container h2 {
    text-align: center;
  }
  .home-container .button {
    float: none;
  }

}

@media screen and (max-width: 750px) {

  h2 { 
    font-size: 40px; 
  }
  h2 figure { 
    background-size: auto 50px; height: 60px; width: 100%; 
  }

  form input, form textarea { 
    margin: 2% 1%;
    width: 98%; 
    padding-left: 4%; 
    padding-right: 4%; 
  } 


/* Navigation Bar */

header nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 220px;
  overflow-x: auto;
  z-index: 2;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
header ul li {
  width: 100%;
  float: left;
  display: block;
  position: relative;
}
header li a {
  font-size: 24px;
}
header li a:hover, header li a:focus {
  color: #3D0626;
  background-color: #fff;
}
input#control-nav {
  display: block;
  visibility: hidden;
  position: absolute;
  left: -9999px;
  opacity: 0;
}
.control-nav {
  position: absolute;
  right: 26px;
  top: 17px;
  display: block;
  width: 30px;
  padding: 7px 0;
  border: solid #FCEBB6;
  border-width: 2px 0;
  z-index: 2;
  cursor: pointer;
  background-color: transparent;
}
.control-nav:before {
  content: "";
  display: block;
  height: 2px;
  background: #FCEBB6;
}
.control-nav-close {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  z-index: 1;
  background: rgba(0,0,0,0.5);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
input#control-nav:focus ~ .control-nav {
  border-color: #000;
  box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
}
input#control-nav:focus ~ .control-nav:before {
  background: #000;
}
input#control-nav:checked ~ nav,
input#control-nav:checked ~ .control-nav-close {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* Button - Close */

#close-button {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 20px;
  right: 220px;
  top: 0px;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  outline: none;
  background-color: transparent;
  color: transparent;
  transition: all 0.25s ease-in-out;
}
#close-button:hover, #close-button:focus {
  background-color: rgba(255, 255, 255, 0.15);
}
#close-button::before,
#close-button::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 32px;
  top: 14px;
  left: 50%;
  background: #fff;
}
#close-button::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#close-button::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


}

@media screen and (max-width: 600px) {

  .icon a {
    background-size: 28px;
    height: 48px;
    width: 48px;
    margin: 6px;
    font-size: 12px;
  }

  .featured {
    width: 242px;
    height: auto;
    padding-bottom: 20px;
  }
  .featured h3, .featured span {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
  }
  #money {
    float: none;
    display: inline-block;
    height: 180px;
    width: 160px;
    padding: 50px 40px 10px;
    font-size: 20px;
  }
  .special-page h5 {
    font-size: 3em;
    margin: -6px auto 0px;
  }

}

@media screen and (max-width: 500px) {
  
  section { width: 96%; padding: 4% 2% 10%; }

  .people { height: 120px; width: 120px; }
  .people h5 { font-size: 16px; }
  .people span { display: none; }

  .card {
    width: 90%;
    padding: 40px 5% 30px;
  }
  .page-title { 
    font-family: 'Roboto-Light';
    font-size: 30px;
    letter-spacing: 4px;
  }
  .page-description {
    line-height: 22px;
  }
  .button {
    margin: 0;
  }
  .card p {
    text-align: center;
  }
  a.box-post {
    height: auto;
  }

}

/* Print Styles */

@media print {
  nav {
    display: none;
  }

  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after, a[href^="javascript:"]:after { 
    content: ""; 
  }
  pre, blockquote { 
    border: 1px solid #999; 
    page-break-inside: avoid; 
  }
  thead { 
    display: table-header-group; 
  }
  tr, img { 
    page-break-inside: avoid; 
  }
  img { 
    max-width: 100% !important; 
  }
  p, h2, h3 { 
    orphans: 3; 
    widows: 3; 
  }
  h2, h3 { 
    page-break-after: avoid; 
  }
}