/* Fonts */

@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700';
@import 'https://fonts.googleapis.com/css?family=Work+Sans:100,300,400,500,600,700,800';

@font-face {
  font-family: 'Florence';
  src: url('../fonts/Florence-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Neou';
  src: url('../fonts/Neou-Bold.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'Bebas';
  src: url('../fonts/Bebas-Neue-Regular.ttf') format('truetype');
  font-weight: 400;
}

/* Reset */

* {
  margin: 0;
	padding: 0;
	border: 0;
  font-size: 0;
  background-color: transparent;
}

/* Default */

html, body, main {
  position: relative;
  width: auto;
  height: 100%;
}
body {
  margin: 0;
  background-color: #3D0626;
}
header {
  width: 95%;
  height: 54px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #3D0626;
  z-index: 999;
  padding: 0 2.5%;
}

header #logo {
  float: left;
  background: transparent url(../images/na-cuia-mini-logo.svg) no-repeat center;
  background-size: 148px;
  height: 54px;
  width: 164px;
}
header nav {
  position: relative;
  float: right;
  width: auto;
  background-color: transparent;
  padding: 0 10px;
}
header ul {
  background-color: red;
}
header ul li {
  position: relative;
  width: auto;
  float: left;
  display: inline-block;
}
header li a {
  font-family: 'Work Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: block;
  width: auto;
  height: auto;
  line-height: 53px;
  padding: 1px 12px 0;
  color: #FCEBB6;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
}
header li a:hover, header li a:focus {
  color: #3D0626;
  background-color: #FCEBB6;
}

header button {
  position: relative;
  border: none;
  outline: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 54px;
  background-color: transparent;
  transition: all 0.25s ease-in-out;
}
header button:hover, header button:focus {
  background-color: rgba(255, 255, 255, 0.15);
}

#share-button {
  display: block;
  float: right;
  margin: 0;
  padding: 0;
  background-image: url(../images/share.svg);
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: center;
}
#menu-button, #close-button {
  display: none;
}

main {  }

article {  }

section {
	position: relative;
	float: left;
	padding: 0 4% 32px;
	height: auto;
	width: 92%;
	background-color: #FCEBB6;
	text-align: center;
}

a {
  text-decoration: none;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

button {
  cursor: pointer;
}

img {
  max-width: 80%;
}

p {
  font: 500 16px 'Work Sans', Arial, sans-serif;
  margin: 0 auto;
  line-height: 1.4em;
  padding: 0 0 20px 0;
  max-width: 600px;
}

h1 {
  font: 500 36px 'Work Sans', Arial, sans-serif;
  color: #3D0626;
  text-align: left;
  padding: 0 0 32px;
  max-width: 640px;
}

h2 {
  font: 56px 'Bebas', Arial, sans-serif;
  padding: 64px 10% 12px;
  text-align: center;
  letter-spacing: 1px;
}

h4 {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 300;
  padding: 10px 10%;
  text-align: left;
}
h5 {
  font: 200 16px 'Roboto';
  margin: 5px auto;
  padding: 10px 10%;
  max-width: 450px;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #eee;
}

footer {
  position: relative;
  float: left;
  padding: 4% 4% 2%;
  margin: 0;
  width: 92%;
  height: auto;
  text-align: center;
  color: #999;
}
footer .logo {
  display: inline-block;
  background: transparent url(../images/na-cuia-logo-white.svg) no-repeat center;
  background-size: 240px;
  height: 50px;
  width: 240px;
  margin: 24px 12px 48px;
}
footer ul { 
  list-style: none;
  margin: 32px 8px;
}
footer a, footer li, footer p {
  color: #FCEBB6;
  font: 300 14px 'Work Sans', sans-serif;
  display: inline-block; 
}
footer a {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 5px 10px;
}
footer a:hover, footer a:focus {
  color: #fff;
}

/* Screen */

.full-screen {
  padding: 0;
  display: table;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.auto-screen {
  display: table;
  height: auto;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
}
.screen-container {
  display: table-cell;
  vertical-align: middle;
  font-size: 0;
}

.layer {
/*  background: linear-gradient(to right,rgba(48, 48, 48, 0.5) 0%,rgba(96, 96, 96, 0.5) 100%);*/
  background-color: rgba(61, 6, 38, 0.9);
}
.img-cultural { background-image: url("http://www.diarioonline.com.br/img/noticias/original/destaque-290794-rogerio-uchoa.jpg"); }

/* Embeds */

.issuuembed {
  display: inline-block;
  width: 100%;
  max-width: 740px; 
  height: 550px;
  margin: 0 0 32px;
}
.youtube-embed {
  width: 95%;
  max-width: 400px;
  height: 225px;
  margin: 2%;
}
.twitter-embed {
  display: inline-block;
  max-width: 500px;
  width: 96%;
  background: white;
  margin: 12px 2%;
}
.facebook-embed {
  display: inline-block;
  max-width: 640px;
  width: 100%;
  padding: 32px 0 0;
  height: 80px;
  background-color: transparent;
}

/* Containers */

.featured {
  position: relative;
  float: none;
  display: inline-block;
  margin: 0 16px;
  width: 916px;
  height: 636px;
  box-sizing: border-box;
  padding: 0;
  border: 1px solid #3D0626;
  background-color: rgba(255, 255, 255, 0.1);
}
.featured:hover, .featured:focus {
  background-color: rgb(39, 4, 24);
  border-color: #FCEBB6;
}
.featured div {
    position: absolute;
    float: left;
    width: 448px;
    height: 634px;
    /* background-color: rgba(252, 235, 182, 0.3); */
    z-index: 3;
}
.featured h3 {rgb(39, 4, 24)
  position: relative;
  float: left;
  padding: 24px 12px;
  margin: 0;
  width: 420px;
  font: 48px 'Work Sans';
  color: #FCEBB6;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.6px;
  background-color: transparent;
}
.featured span {
    position: relative;
    float: left;
    padding: 12px;
    margin: 0;
    width: 340px;
    color: #FCEBB6;
    font: 18px 'Work Sans', Arial, sans-serif;
    text-align: left;
    background-color: transparent;
}
.featured figure {
    position: relative;
    float: left;
    width: 448px;
    height: 634px;
    margin: 0 16px 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-color: #fff;
    z-index: 2;
}
.featured .margin-top {
  margin-top: 20px;
}

/* Featured Maga */

.mag {
  display: inline-block;
  margin: 80px 0;
}
.mag div {
  float: left;
  max-width: 500px;
  height: 500px;
}

.maga {
  display: table;
  width: 400px;
  height: 600px;
  box-sizing: border-box;
  padding: 32px;
  margin: 0 80px;
  background-color: rgba(255, 255, 255, 0.0);
  border: 1px solid #fff;
  border-radius: 2px;
}
.maga h1 {
  font: normal 70px 'Florence', Arial, sans-serif;
  color: #fff;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.maga h1::before, .maga h1::after {
  content: "";
  border-top: 1px solid #fff;
  margin: 10px 100px;
  display: inline-block;
  width: 64px;
  height: 6px;
}

/* Home */

.home {
  display: inline-block;
  margin: 80px 0;
}
.home div {
  float: left;
  max-width: 500px;
}
.home img {
  display: block;
  height: 500px;
  width: 350px;
  max-width: 80%;
  padding: 0 75px;
  margin: 0 auto;
  background-color: transparent;
}

.home-container {
  display: inline-block;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 32px;
}
.home-container p {
  color: #3D0626;
  text-align: left;
  max-width: 640px;
  font-size: 18px;
  font-weight: 400;
  padding: 0;
}
.home-container .button {
  float: left;
}

.home .borda-marajoara-bottom {

  background-size: 200px;
}

/* Card */

.card {
  display: inline-block;
  margin: 0 auto;
  max-width: 500px;
  box-sizing: border-box;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.0);
}

.container-home {
  margin: 20px auto;
  text-align: left;
  line-height: 26px;
  max-width: 900px;
}
.container-box {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 
}
.container-page {
  position: relative;
  float: left;
  padding: 0 0 1px 0;
  width: 100%;
  max-height: 400px;
  background-color: red;
}
.container-form {
  position: relative;
  display: inline-block;
  float: none;
  max-width: 500px;
  height: auto;
  background-color: #fff;
  padding: 40px 40px 10px 40px;
  margin: 0;
}

/* Backgrounds and Colors */

.bg-gradient {
  background: linear-gradient(to right,rgba(114, 114, 114, 1) 0%,rgba(58, 58, 58, 1) 100%);
  background-color: #777;
}

.bg-acai { background-color: #3D0626; }
.bg-ama { background-color: #FCEBB6; }
.bg-salinas { background: linear-gradient(135deg, #31b5bb 0%,#1bbc9b 100%); }
.bg-tucupi { background: linear-gradient(135deg, #edc500 0%,#f89406 100%); }
.bg-manga { background: linear-gradient(135deg, #f62459 0%,#f22613 100%); }
.bg-lima { background: linear-gradient(135deg, #2ecc71 0%,#00b16a 100%); }
.bg-arara { background: linear-gradient(135deg, #41b7ef 0%,#4183d7 100%); }

.clr-white { color: #fff; }
.clr-acai { color: #3D0626; }
.clr-ama { color: #FCEBB6; }

.border-top { border-top: 2px dashed #FCE3A9; }

.bg-img {
  background-image: url(../images/background.png);
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
}
.bg-marajoara-acai {
    background: transparent url(../images/bg-acai.svg) repeat scroll center center;
}
.bg-cuia {
  background-image: url(../images/cuia-inline.svg);
  background-position: left center;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: 1100px;
  background-position-x: -240px;
  background-position-y: 320px;
}

.img-section {
  max-width: 100%;
  height: auto;
  padding: 20px 0;
}

.kuyera-text p {
  color: #FCEBB6;
  font-size: 18px;
}

.borda-marajoara-top {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  display: block;
  background: transparent url(../images/borda-marajoara-palha.svg) repeat-x center;
  background-size: 200px;
  height: 60px;
  width: 100%;
  margin: 0 auto;
}
.borda-marajoara-bottom {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: block;
  background: transparent url(../images/borda-marajoara-palha.svg) repeat-x center;
  background-size: 200px;
  height: 60px;
  width: 100%;
  margin: 0 auto;
}
.borda-marajoara-bottom-acai {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: block;
  background: transparent url(../images/borda-marajoara-acai.svg) repeat-x center;
  background-size: 200px;
  height: 60px;
  width: 100%;
  margin: 0 auto;
}




#kuyera-logo {
  display: block;
  background: transparent url(../images/kuyera.svg) no-repeat center;
  background-size: 240px;
  height: 80px;
  width: 100%;
  margin: 0 auto 44px;
}
#selo {
  float: none;
  display: inline-block;
  height: 300px;
  width: 300px;
  margin: 32px 0;
  border-radius: 50%;
  background: #f5e7b4 url(../images/selo-evento-cultural.svg) no-repeat center;
  background-size: 160px;
}
#event {
  display: inline-block;
  width: 100%;
  max-width: 294px;
  padding: 22px 0;
  margin: 32px 0;
  color: #FCEBB6;
  font: 400 32px "Bebas", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  border: 3px dashed #FCEBB6;
}

/* Box - Social */

.icon a {
  position: relative;
  display: inline-block;
  height: 64px;
  width: 64px;
  margin: 10px;
  float: none;
  text-decoration: none;
  text-align: center;
  font: 14px 'Work Sans';
  letter-spacing: 1px;
  color: transparent;
  background-color: #FCEBB6;
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: 50% 50%;
  border-radius: 50%;
}
.icon a:hover, .icon a:focus, .icon a:active {
  background-color: #fff;
  color: transparent;
}
.icon a span {
  position: absolute;
  left: 0;
  bottom: -36px;
  width: 90%;
  height: auto;
  padding: 5px 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: transparent;
}

/* People */

.people {
  max-width: 1000px;
  margin: 20px auto;
}
.people div {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 160px;
  margin: 12px 10px 80px;
  background-color: #fff;
  z-index: 1;
  border-radius: 50%;
}
.people a {
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 3;
  border-radius: 50%;
  color: transparent;
}
.people a:hover, .people a:focus {
  background-color: rgba(61, 6, 38, 0.7);
  color: #FCEBB6;
}
.people a p {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0 20% 32px;
  width: 60%;
  height: auto;
  font: italic 14px 'Work Sans', Arial, sans-serif;
  text-align: center;
  background-color: transparent;
}
.people h4 {
  position: relative;
  float: left;
  margin: 0;
  padding: 12px 10% 6px;
  width: 80%;
  height: auto;
  font: 600 18px 'Work Sans', Arial, sans-serif;
  color: #3D0626;
  text-align: center;
  letter-spacing: 0;
}
.people figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  /* -webkit-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  filter: grayscale(100%);  */
  border-radius: 50%;
}

/* Button */

.button {
  position: relative;
  display: inline-block;
  margin: 32px auto 10px;
  padding: 13px 32px;
  width: auto;
  height: auto;
  background-color: transparent;
  color: #3D0626;
  font: 600 14px 'Work Sans', Arial, sans-serif;
  border: 2px solid #3D0626;
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}
.button:hover, .button:focus {
  color: #FCEBB6;
  border-color: #3D0626;
  background-color: #3D0626;
}


/* Button - Telephone */

.btn-tel {
  display: inline-block;
  padding: 16px 30px;
  background-color: #fff;
  color: #777;
  font: 500 18px 'Roboto';
  border: 1px solid #fff;
  letter-spacing: 0.6px;
}
.btn-tel:hover, .btn-tel:focus {
  background-color: transparent;
  border: 1px solid #888;
}

#contato p {
  max-width: 400px;
}



/* Tile */

.magazine {
  padding: 8px 0 32px 0;
}

.tile {
  position: relative;
  float: none;
  display: inline-block;
  width: 240px;
  height: 336px;
  margin: 18px 16px;
  background-color: #fff;
  z-index: 1;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.tile:hover, .tile:focus {
  background-color: rgba(0, 0, 0, 0.7);
}
.tile a {
  position: relative;
  float: none;
  display: table;
  height: 100%;
  width: 100%;
  padding: 0;
  font-size: 10px;
  text-decoration: none;
  z-index: 3;
  color: transparent;
  background-color: transparent;
}
.tile a:hover, .tile a:focus { 
  color: #FCE3A9; 
  background-color: rgba(39, 4, 24, 0.9); 
  border-color: #FCEBB6;
}
.tile h5 {
  display: table-cell;
  vertical-align: middle;
  font: 28px 'Neou', Arial, sans-serif;
  margin: 0;
  padding: 6px 12px;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  border: 0;
  z-index: 3;
}
.tile span {
  position: absolute;
  padding: 0;
  top: 20px;
  right: 32px;
  font: 300 16px 'Work Sans', Arial, sans-serif;
  text-align: right;
  background-color: transparent;
  z-index: 3;
}
.tile figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 0;
/*  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);*/
}

.bg-grad { background-color: rgba(252, 235, 182, 0.36); }
.bg-grad:hover, .bg-grad:focus { color: #FCE3A9; background-color: rgba(61, 6, 38, 0.9); }
    
#gray { background: linear-gradient(135deg, rgba(31, 31, 31, 0.84) 0%,rgba(171, 171, 171, 0.84) 100%); }
#gray:hover, #gray:focus { background-color: rgba(0, 0, 0, 0.7); }

/* Alert */

#counter {
  display: inline-block;
  border: 1px solid #3D0626;
  color: #3D0626;
  padding: 22px 0 0 0;
  width: 70px;
  height: 48px;
  margin: 0 auto;
  border-radius: 50%;
  text-align: center;
  font: 300 24px 'Work Sans', Arial, sans-serif;
}
.alert {
  padding: 84px 0 104px;
}
.alert h1 {
  color: #3D0626;
  font: italic 64px 'Neou', Arial, sans-serif;
  letter-spacing: 2px;
  text-align: center;
  margin: 32px auto;
  padding: 0;
}
.alert p {
  color: #3D0626;
  font-size: 22px;
  padding: 0px 20px;
  text-align: center;
}



/* Contact Form */

form {
  display: inline-block;
  max-width: 600px;
  width: 100%;
  height: auto;
  background-color: transparent;
  margin: 20px auto;
}
form input {
  width: 48%;
}
form textarea {
  width: 98%;
  height: 140px;
  resize: none;
}
form input, form textarea {
  float: left;
  padding: 10px 2% 11px 2%;
  margin: 1%;
  color: #3D0626;
  font: 400 16px 'Work Sans', Arial, sans-serif;
  background-color: transparent;
  border: 2px solid #3D0626;
  border-radius: 2px;
  box-sizing: border-box;
  transition: all 250ms ease-in-out;
}
form input:focus,  form input:active,
form textarea:focus,  form textarea:active {
  background-color: #fff;
  border-color: #3D0626;
  font: 16px 'Work Sans', Arial, sans-serif;
  color: #3D0626;
  outline: none;
  box-shadow: 0;
  transition: none;
}
input[type="submit"] {
  float: none;
  display: inline-block;
  cursor: pointer;
  width: 110px;
  height: 46px;
  padding: 0;
  margin: 2% auto 0;
  text-align: center;
  background-color: #3D0626;
  border: 2px solid #3D0626;
  line-height: 2px;
  color: #FCEBB6;
  font: 600 14px "Work Sans", sans-serif;
  letter-spacing: 1px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
input[type="submit"]:hover, 
input[type="submit"]:focus {
  font-weight: 600;
  color: #3D0626;
  background-color: #fff;
  border-color: #3D0626;
}

::-webkit-input-placeholder { color: #3D0626; font-style: italic; font-weight: 500; }
:-moz-placeholder { color: #3D0626; font-style: italic; font-weight: 500; }
::-moz-placeholder { color: #3D0626; font-style: italic; font-weight: 500; }
:-ms-input-placeholder { color: #3D0626; font-style: italic; font-weight: 500; }

/* Images - Social */

.facebook { background-image: url(../images/icons/facebook.svg); }
.twitter { background-image: url(../images/icons/twitter.svg); }
.youtube { background-image: url(../images/icons/youtube.svg); }
.instagram { background-image: url(../images/icons/instagram.svg); }
.snapchat { background-image: url(../images/icons/snapchat.svg); }
.flickr { background-image: url(../images/icons/flickr.svg); }
.issuu { background-image: url(../images/icons/issuu.svg); }
.googleplus { background-image: url(../images/icons/googleplus.svg); }
.medium { background-image: url(../images/icons/medium.svg); }

/* Background Colors */

.green { background-color: #27ae60; }
.green-2 { background-color: #2ecc71; }
.blue { background-color: #3498db;}
.blue-2 { background-color: #2980b9; }
.red { background-color: red; }
.yellow { background-color: #f1c40f; }
.purple { background-color: rgba(181,0,191,1); }
.orange { background-color:#FF5C00; }
.pink { background-color:#ff0052; }
.gray { background-color: #666; }


/* Media Queries */

@media screen and (max-width: 1016px) {

  .home div {
    float: none;
    height: auto;
  }
  h1, .home-container p {
    text-align: center;
  }
  .home-container .button {
    float: none;
  }
  .home-logo { 
    background-size: 100%;
    width: 100%;
  }
  .home img {
    height: auto;
    max-width: 80%;
    padding: 10px 0;  
  }

  .featured {
    width: 242px;
    height: auto;
    padding-bottom: 20px;
  }
  .featured h3, .featured span {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
  }
  .featured figure {
    width: 240px;
    height: 336px;
  }

}

@media screen and (max-width: 750px) {
  h1 { 
    font-size: 28px; 
  }
  h2 { 
    font-size: 48px;
    padding-top: 32px;
  }

  form input, form textarea { 
    margin: 2% 1%;
    width: 98%; 
    padding-left: 4%; 
    padding-right: 4%; 
  }

  .home-container p {
    font-size: 16px;
  }


/* Navigation Bar */

header {
  width: 100%;
  padding: 0;
}

header nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background-color: #3D0626;
  width: 100%;
  height: auto;
  overflow-x: auto;
  padding: 54px 0;
  margin: 0;
  transform: translate3d(0,-100%,0);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
header ul li {
  width: 100%;
  float: left;
  display: block;
  position: relative;
}
header li a {
  font-size: 24px;
  padding: 2px 28px 0;
  letter-spacing: 0;
  text-align: center;
}
header #logo {
  float: none;
  display: inline-block;
}

/* Button Menu */

#menu-button {
  display: block;
  float: left;
  background-image: url(../images/menu.svg);
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: center;
}

/* Button Close */

#close-button {
  display: block;
  position: absolute;
  width: 64px;
  height: 54px;
  margin: 0;
  right: 0;
  top: 0px;
  border-radius: 0;
  overflow: hidden;
  border: none;
  outline: none;
  background-color: transparent;
  color: transparent;
  transition: all 0.25s ease-in-out;
}
#close-button:hover, #close-button:focus {
  background-color: rgba(255, 255, 255, 0.15);
}
#close-button::before,
#close-button::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 32px;
  top: 12px;
  left: 50%;
  background: #FCEBB6;
}
#close-button::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#close-button::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Menu Animations */

.show-menu nav {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .layer-menu {
  opacity: 1;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.layer-menu {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 0;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
  -webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
  transition: opacity 0.4s, transform 0s 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

#selo {
  height: 200px;
  width: 200px;
  background-size: 100px;
  margin: 0 0 24px;
}

}

@media screen and (max-width: 500px) {
  
  section { 
    width: 96%; 
    padding: 4% 2% 10%; 
  }

  .icon a {
    background-size: 28px;
    height: 48px;
    width: 48px;
    margin: 6px;
    font-size: 12px;
  }

  .people div { height: 120px; width: 120px; }
  .people h4 { font-size: 16px; }

  .card {
    width: 90%;
    padding: 40px 5% 30px;
  }
  .card p {
    text-align: center;
  }

}